.container {
    background-color: white;
    color: #66837E;
    width: 50%;
    margin: auto;
    padding: 20px;
    margin-top: 10%;
}

@media(max-width: 800px)
{
    .container {
        width: 80%;
    }
}