.personla div {
    display: flex;
    flex-direction: column;
}

.personal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.personal h2 {
    text-align: center;
}

label {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    min-height: fit-content;
    color: #66837E;
    margin-top: 10%;
    font-size: 2rem;
    border-radius: 15px;
    padding: 20px;
}

@media(max-width: 800px)
{
    .personal {
        width: 90% !important;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
}

.container .personal {
    width: 30%;
    background-color: white;
    min-height: fit-content;
    color: #66837E;
    font-size: 2rem;
    border-radius: 15px;
    padding: 20px;

}

.personal input {
    width: 90%;
}