.contact {
    background-color: white;
    color: #66837E;
    width: 30%;
    padding: 20px;
}

.contact p {
    display: flex;
    align-items: center;
}

@media(max-width: 800px)
{
    .contact {
        width: 90%;
    }
}